//Viewports
$mobile: 600px;
$tablet: 960px;
$tablet-landscape: 1200px;
$desktop: 1264px;
$lg-desktop: 1370px;

//Font weights
$light: 200;
$regular: 400;
$semibold: 600;
$bold: 700;
$black: 900;

//Font sizes
$encabezado: 4rem;
$titulo: 2.2rem;
$subtitulo: 1.2rem;
$texto: 1rem;
$texto-sm: 0.8rem;


//COLORS
$primary: #2cb1d2;
$secondary: #e58abe;
$neutral: #f7b407;
$extra: #c6c4c4;
